<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beschikbare downloads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let downloadItem of downloadItems">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="downloadItem.image" alt="afbeelding download">
        </ion-avatar>
        <ion-label>
          <div class="d-flex flex-row justify-content-between">
            <div>
              <h2>{{downloadItem.name}}</h2>
              <ion-chip class="platform-button">
                <ion-icon [name]="downloadItem.icon"></ion-icon>
                <ion-label>{{downloadItem.platform}}</ion-label>
              </ion-chip>
            </div>
            <div class="d-flex align-items-center">
              <ion-buttons>
                <ion-button [href]="downloadItem.link" target="_blank">
                  <ion-icon slot="icon-only" name="download"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
