// Import bootstrap scss file
@import "~bootstrap/scss/bootstrap.scss";

ion-button[type=submit] {
  border: none !important;
  box-shadow: none !important;
}

.action-buttons {
  width: 100%;
  text-align: center;
  display: flex;

  ion-button {
    width: 50%;
    margin: 0;
    --border-width: 0;
    --box-shadow: none;

    &:first-child {
      --border-radius: 0;
    }
    &:last-child {
      --border-radius: 0;
    }
  }
}
