<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Sluiten</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="definitieForm">
    <ion-item>
      <ion-label position="floating">Naam</ion-label>
      <ion-textarea formControlName="naam"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschrijving</ion-label>
      <ion-textarea formControlName="tekst"></ion-textarea>
    </ion-item>
    <div class="text-center mt-3">
      <ion-button color="light" (click)="dismissModal()">Annuleren</ion-button>
      <ion-button color="primary" (click)="saveDefinitie()" [disabled]="definitieForm?.invalid">Opslaan</ion-button>
    </div>
  </form>

  <div class="synoniemen-crud-table">
    <div class="row header">
      <div class="col font-weight-bold">Synoniem</div>
      <div class="col font-weight-bold">Actie</div>
    </div>
    <ng-container *ngFor="let synoniem of definitie?.synoniemen">
      <app-definitie-synoniem [synoniem]="synoniem" [definitieId]="definitie?.ID"></app-definitie-synoniem>
    </ng-container>
    <app-definitie-synoniem [synoniem]="synoniem" [definitieId]="definitie?.ID" *ngIf="definitie?.synoniemen?.length === 0"></app-definitie-synoniem>
  </div>
  <ion-button size="small" class="ml-3" (click)="addRow()"><ion-icon name="add" class="mr-2"></ion-icon> toevoegen</ion-button>

</ion-content>
