<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Sluiten</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="definitieForm" class="mb-3">
    <ion-item>
      <ion-label position="floating">Naam</ion-label>
      <ion-textarea formControlName="naam"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschrijving</ion-label>
      <ion-textarea formControlName="tekst"></ion-textarea>
    </ion-item>
  </form>

  <div class="mt-4">
    <app-crud-synoniem [synoniemen]="synoniemen"></app-crud-synoniem>
  </div>
</ion-content>

<ion-footer>
  <div class="text-center d-flex">
    <div (click)="dismissModal()" class="confirm-button ">Annuleren</div>
    <div (click)="saveDefinitie()" class="confirm-button primary">Opslaan</div>
  </div>
</ion-footer>
