<div class="zwevende-tekst-item">
  <ion-item class="tekst-container">
    <div class="tekst">
      {{zwevendeTekst.tekst}}
    </div>
  </ion-item>
  <ion-item>
    <ion-label>Vrije dia's</ion-label>
    <ion-select value="Selecteer" okText="Kiezen" cancelText="Annuleren" (ionChange)="selectSlide(slide.value)" #slide>
      <ion-select-option *ngFor="let slide of vrijeSlides" [value]="slide.slide.volgnummer">
        Slide {{slide.slide.volgnummer}}</ion-select-option>
    </ion-select>
  </ion-item>
</div>
