<div class="zwevende-tekst-item">
  <ion-item class="tekst-container">
    <div class="tekst">
      {{zwevendeTekst.tekst}}
    </div>
  </ion-item>
  <ion-item>
    <ion-label>Vrije dia's</ion-label>
    <ion-select value="Selecteer" okText="Kiezen" cancelText="Annuleren" (ionChange)="selectSlide(slide.value)" #slide>
      <ng-container *ngFor="let slide of vrijeSlides">
        <ion-select-option [value]="slide.slide.ID">Slide {{slide.slide.volgnummer}} <img [src]="slide.url" alt="afbeelding slide"/></ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
</div>
