<div class="presentatie-card">
  <ion-card>
    <div class="position-relative img-container d-flex justify-content-center align-items-center flex-column" #imgContainer
         [style.background-image]="'url(' + presentatie?.slide?.url + ')'" routerLink="/presentaties/{{presentatie?.ID}}">
      <ng-container *ngIf="!presentatie?.slide?.url">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p class="text-center font-weight-bold mt-3 mb-0">Presentatie converteren...</p>
      </ng-container>
    </div>
    <i class="material-icons action-icon" (click)="presentActionSheet(presentatie)">
      more_vert
    </i>
    <ion-card-header routerLink="/presentaties/{{presentatie?.ID}}">
      <ion-card-title class="text-truncate">
        {{presentatie?.naam}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content routerLink="/presentaties/{{presentatie?.ID}}" class="text-truncate">
      {{presentatie?.beschrijving}}
    </ion-card-content>
  </ion-card>
</div>
