@import "~bootstrap/scss/bootstrap.scss";

.presentatie-card {
  cursor: pointer;
}

.img-container {
  background-color: #eee;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

ion-header {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}
