@import "~bootstrap/scss/bootstrap.scss";

.presentatie-card {
  cursor: pointer;
}

.img-container {
  background-color: #eee;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
