<div class="row">
  <div class="col">
    <div *ngIf="!edit && synoniem?.naam !== ''" class="synoniem-naam">
      <span *ngIf="!synoniem" class="placeholder">Vul in...</span>
      <span *ngIf="synoniem">{{synoniem?.naam}}</span>
    </div>
    <div *ngIf="edit || synoniem?.naam === ''" class="d-flex">
      <div contenteditable class="synoniem-edit" #value>{{synoniem?.naam}}</div>
      <ion-button size="small" (click)="updateSynoniem(value.innerHTML)">Ok</ion-button>
    </div>
  </div>
  <div class="col">
    <ion-icon name="create" (click)="edit = !edit; focusEdit()"></ion-icon>
    <ion-icon name="trash" (click)="deleteSynoniem()"></ion-icon>
  </div>
</div>
