<ion-content>
  <div class="position-relative h-100">
    <div id="create">
      <ion-card class="p-4">
        <form [formGroup]="signupForm" (ngSubmit)="signUp()" (keyup.enter)="signUp()">
          <h4 class="text-center font-weight-bold">Registreren</h4>

          <ion-item>
            <ion-label position="floating">Sign up code</ion-label>
            <ion-input required type="text" formControlName="code"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input required type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input required type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input required type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-icon name="eye" [name]="passwordVisible ? 'eye-off' : 'eye'" slot="end"
                      (click)="passwordVisible = !passwordVisible" align-self-center
                      class="icon-password-toggle"></ion-icon>
            <ion-input required formControlName="password" [type]="passwordVisible ? 'text' : 'password'"></ion-input>
          </ion-item>

          <div class="text-center mx-3 mt-5 mb-3">
            <ion-button expand="block" type="submit" [disabled]="!signupForm.valid">
              Registreer
            </ion-button>
          </div>

          <p class="text-center">Al een account? <a [routerLink]="['/sign-in']">Log in</a>.</p>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
