@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

#create {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  ion-card {
    width: 350px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(xs) {
      width: 100%;
      box-shadow: none;
    }
  }
}

.icon-password-toggle {
  cursor: pointer;
}
