<ion-item>
  <div class="mb-2 d-block">
    <ion-label class="definitie-label ion-text-wrap">
      <h5 class="font-weight-bold mb-3">{{definitie?.naam}}</h5>
    </ion-label>
    <ion-note>
      <div class="omschrijving">
        {{definitie?.tekst}}
      </div>
      <div class="synoniem" *ngIf="definitie?.synoniemen">
        <span class="font-weight-bold text-dark"
              *ngIf="synoniemen.length > 0">Synoniemen: </span><span>{{synoniemen?.join(', ')}}</span>
      </div>
    </ion-note>
  </div>
</ion-item>
<div class="buttons-definitie">
  <ion-button class="round-button" (click)="tts()">
    <ion-icon name="volume-high" class="more-icon" *ngIf="!speaking"></ion-icon>
    <ion-icon name="volume-off" class="more-icon" *ngIf="speaking"></ion-icon>
  </ion-button>
  <ion-button class="round-button" (click)="presentActionSheet(definitie)">
    <ion-icon name="more" class="more-icon"></ion-icon>
  </ion-button>
</div>

