<ion-item>
  <div class="mb-2 d-block">


<!--   Name of definition -->
    <ion-label class="definitie-label ion-text-wrap">
      <h5 class="font-weight-bold mb-3">{{definitie?.naam}}</h5>
    </ion-label>

<!--   Description of definition -->
    <ion-note>
      <div>
        {{definitie?.tekst}}
      </div>

<!--      Synonyms -->
      <div class="synoniem" *ngIf="definitie?.synoniemen">
        <span class="font-weight-bold text-dark"
              *ngIf="synoniemen.length > 0">Synoniemen: </span><span>{{synoniemen?.join(', ')}}</span>
      </div>
    </ion-note>
  </div>
</ion-item>

<!--Buttons for definition object
TTS button is for playing the audio file which is created from the description of the definition
and the more icon shows the different actions which can be used on this definition -->
<div class="buttons-definitie">
  <ion-buttons>
    <ion-button (click)="tts()">
      <ion-icon slot="icon-only" name="volume-high" *ngIf="!speaking"></ion-icon>
      <ion-icon slot="icon-only" name="volume-off" *ngIf="speaking"></ion-icon>
    </ion-button>
    <ion-button (click)="presentActionSheet(definitie)">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

