<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Sluiten</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="presentatieForm" *ngIf="showFirst">
    <ion-item>
      <ion-label position="floating">Naam</ion-label>
      <ion-textarea formControlName="naam"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschrijving</ion-label>
      <ion-textarea formControlName="beschrijving"></ion-textarea>
    </ion-item>
    <app-crud-synoniem [synoniemen]="synoniemen"></app-crud-synoniem>
  </form>

  <div *ngIf="!showFirst">
    <div class="m-5 mt-4 text-center">

      <div class="d-block">
        <div class="ppt-upload-area">
          <div class="loader" *ngIf="isUploading">
            <div class="w-100">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ng-container *ngFor="let item of files; let i=index">
              <p class="text-center font-weight-bold mt-3">{{ item.relativePath }}</p>
            </ng-container>
          </div>
          <div class="upload">
            <file-drop dropZoneLabel="Powerpoint neerzetten of " (onFileDrop)="dropped($event)"
                       [showBrowseBtn]="true" browseBtnLabel="Zoek powerpoint" browseBtnClassName="upload-browse-button"
                       dropZoneClassName="upload-dropzone" multiple="false" contentClassName="dropzone-content"
                       accept="pptx">
            </file-drop>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="text-center d-flex">
    <div (click)="dismissModal()" class="confirm-button ">Annuleren</div>
    <div (click)="savePresentatie()" class="confirm-button primary">Opslaan</div>
  </div>
</ion-footer>
