@import "~bootstrap/scss/bootstrap.scss";

.ppt-upload-area {
  margin-top: $spacer;
  position: relative;

  .loader {
    background-color: #fff;
    border: 1px dashed $border-color;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .upload {
    height: 100%;
  }
}
