<ion-content>
  <div class="position-relative h-100">
    <div id="login">
      <ion-card class="p-4">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h4 class="text-center font-weight-bold">Login</h4>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input required type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-icon name="eye" [name]="passwordVisible ? 'eye-off' : 'eye'" slot="end"
                      (click)="passwordVisible = !passwordVisible" align-self-center
                      class="icon-password-toggle"></ion-icon>
            <ion-input required formControlName="password" [type]="passwordVisible ? 'text' : 'password'"></ion-input>
          </ion-item>

          <div class="text-center mx-3 mt-5">
            <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
              Login
            </ion-button>
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
