<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{(presentatie | async)?.naam}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" name="text"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let slide of slides">
    <app-presentatie-detail-item [slide]="slide"></app-presentatie-detail-item>
  </ion-list>
</ion-content>
