<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Presentaties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="searchPresentaties()" [(ngModel)]="searchTerm"></ion-searchbar>
  <ng-container *ngFor="let presentatie of presentaties; let i = index">
    <div class="d-sm-block d-none">
      <ion-row *ngIf="i % 3 == 0">
        <ion-col size="4">
          <app-presentatie-card [presentatie]="presentaties[i]" *ngIf="presentaties[i]"></app-presentatie-card>
        </ion-col>
        <ion-col size="4">
          <app-presentatie-card [presentatie]="presentaties[i + 1]" *ngIf="presentaties[i + 1]"></app-presentatie-card>
        </ion-col>
        <ion-col size="4">
          <app-presentatie-card [presentatie]="presentaties[i + 2]" *ngIf="presentaties[i + 2]"></app-presentatie-card>
        </ion-col>
      </ion-row>
    </div>
    <div class="d-sm-none d-block">
      <app-presentatie-card [presentatie]="presentatie" *ngIf="presentatie"></app-presentatie-card>
    </div>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createPresentatie()">
    <ion-fab-button color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
